<% if signed_in? %>
<div id="columns">
<div id="side">
<%= link_to "新建模块",new_area_path%>    
<%= render 'shared/area_new'%>
</div>
</div>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %> 
      </section>
      <!--section-->
        <!--%= render 'shared/stats' %-->
      <!--/section-->
<!--发布微博-->      
      <!--section-->
        <!--%= render 'shared/micropost_form' %-->
      <!--/section-->
<!--发布测试点-->
     <section>
      <%= render 'shared/testpoint_form' %>
     </section>
<!--显示微博动态-->
    </aside>
    <div class="span8">
      <!--h3>发布动态</h3-->
      <!--%= render 'shared/feed' %-->
    </div>
  </div>
<!--实时动态刷新案例-->
   <section>
  <%= render  'shared/feed_testpoint' %>
   </section>


<% else %>


<div class="center hero-unit">
<h1>欢迎来到海那边工作管理系统</h1>
<h2>
 
<a href="http://www.hinabian.com/tribe/home/html/">去海那边圈子</a>

</h2>
<%= link_to "去注册账号!",signup_path,class: "btn btn-large btn-primary"%>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<%end%>

