
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@area) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :模块名称 %>
      <%= f.text_field :name %>
  
      
    <%= f.submit "提交", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
