 <%= form_for (@testpoint) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">


<%= f.label :测试点 %>    
<%= f.text_area :testpoint, placeholder: "发布新微博..." %>

<%= f.label :step %>
<%= f.text_area :step %>


  </div>
  <%= f.submit "发布", class: "btn btn-large btn-primary" %>
<% end %>
