<tr>
<td><%= testpoint.id %>
</td>

<td><%= testpoint.level %>
</td>
<td><%= testpoint.point %>
</td>

<td><%= testpoint.step %> </td>
<td> 
</td>
<td>
    <%= link_to "编辑", [:edit,@area,@testpoint]%>
                                     
</td>

<td>
    <%= link_to "删除", [testpoint.area,testpoint],method: :delete,
                                     data: { confirm: "确定删除案例?" },
                                     title: testpoint.point %>
</td>

<td>
 <%= testpoint.updated_at.strftime('%Y-%m-%d') %>
</td>

<td>
 <%= testpoint.created_at.strftime('%Y-%m-%d') %>
</td>
</tr>
